ul {
    padding: 0;
    display: grid;
    gap: 1.5rem;
    padding: 0 4vw;
}

li {
    min-width: 100%;
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows: max-content max-content;
}

li > p {
    order: 3;
}

li > span {
    order: 2;
    position: relative;
    right: 0;
}