* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#content {
    min-width: 100%;
    min-height: 100vh;
    background-image: url(../assets/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 25vh 1fr;
}