* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background: #303030;
  }

body {
    font-family: sans-serif;
    overflow-y: scroll;
    scrollbar-width: 5px;
}

#content {
    min-width: 100%;
    min-height: 100vh;
    background-image: url(../assets/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 25vh 1fr;
    color: white;
}

.container {
    display: grid;
    align-items: center;
    padding: 5% 20% 10% 20%;
}

.tab {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 5% 10%;
    border-radius: 10px;
}